body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    background-color: bisque;
    color: maroon;
}

p {
    color: black;
    font-size: 16px;
}

#copyright {
    color: darkgrey;
    font-size: 10px;
}

h5 {
    background-color: red;
    color: white;
}